.morfix{
    width: 400px;
    min-height: 200px;
    table{
        margin: 10px 0 20px 0 !important;

        td .word{
            font-weight: bold;
        }

        td.center{
            text-align: center;
        }

        td.explain{
            direction: ltr;
            color: #888;
            font-style: italic;
            font-size: 18px;

            > img{
                float: left;
                margin: 0 10px 10px 0;
            }
        }

        td .diber{
            font-size: 12px;
        }

    }

    .search-box{
        padding: 10px 5px;
    }

    .footer-link{
        position: fixed;
        bottom: 0;
        left: 5px;
    }

    .suggestions a{
        font-size: 16px;
        font-weight: bold;
        display: inline-block;

    }

    .history{
        position: absolute;
        width: calc(100vw - 10px);
        border: 1px solid #e7e7e7;
        box-shadow: 0 1px 6px rgba(0,0,0,.2);
        height: 150px;
        overflow-y: scroll;
        z-index: 10;
        background-color: #fff;
        opacity: .9;

        .item{
            padding: 5px 10px;
        }
    }
}